.top-center-wrapper {
  position: fixed;
  top: 5%; /* Adjusted to 25% to position the box closer to the top */
  left: 50%;
  transform: translate(-50%, 0); /* Changed the Y translation to 0 */
  background-color: rgb(99, 99, 229);
  width: 50%; /* Adjusted width */
  max-width: 700px; /* Maximum width for the box */
  padding: 20px; /* Adding padding */
  border-radius: 10px; /* Adding border-radius for a rounded appearance */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center the content horizontally */
  background-color: white;
  border-radius: 10px; /* Adding border-radius for a rounded appearance */
}

form {
  width: 60%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the form horizontally */
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 15px; /* Rounded edges */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input[type="weather"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

button {
  background-color: grey; /* Different color */
  color: #fff;
  border: none;
  padding: 10px 20px; /* Smaller size */
  cursor: pointer;
  border-radius: 8px; /* Rounded edges */
}

button:hover {
  background-color: #c82333; /* Darker color on hover */
}

.weather-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px; /* Add top margin */
}

.weather-info {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 100px; /* Adjust size as needed */
  height: auto;
  margin-right: 20px;
}


.location-info {
  text-align: right;
  line-height: 1.2;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Display items in a column */
  align-items: flex-end; /* Align items to the right */
}

.location-info p {
  margin: 0;
}

.centre {
  text-align: center;
}

.centre {
  display: block;
  margin: 0 auto;
}